/* 
 * style.css
 *
 * Created 9/18/20
 * Author: Cason Brinson
 * Last Edited: 9/18/20
 * Description: Stylsheet for Project 2 for CS3744
 */
 
 
/* Styling the Banner at the top of the page */
#page-banner-div {
	position: fixed;
	top: 0;
	left: 0;
	background-color: darkred;
	width: 100%;
	text-size: 10%;
	text-align: center;
	font-style: italic;
	font-family: Sans-Serif;
	color: white;
	border-color: white;
	border-style: solid;
}

/* apply padding to the top of the body to be able to see it since banner was covering it */
body {
	padding-top: 5em;
}

/* styling the name and contact info division at the top of the resume */
.contact-info-main-div {
	text-align: center;
	font-family: Sans-Serif;
	line-height: 1em;
}

/* styling all the main section headers throughout the resume */
.main-header-div {
	font-size: 140%;
	font-family: Arial;
	background-color: #CC5500;
	color: white;
	text-align: center;
	border-color: #CC5500;
	border-style: solid;
	line-height: 0.5em;
}

/* styling the main sections of the resume to all look the same */
.main-section {
	border-color: black;
	border-style: double;
	margin-top: 1em;
	margin-bottom: 1em;
}

/*styling the sub header text look*/
.sub-header {
	/*background-color: yellow;*/
	font-family: Times;
	text-size: 20em;
	font-size: large;
	
}

/*styling each sub section to have a border and consistent background color throughout */
.sub-section {
	background-color: #DCDCDC;
	border-style: solid;
	border-color: #DCDCDC;
}

/*using a tag to style only the paragraph elements throughout the resume */
p {
	font-size: 90%;
	padding-left: 5%;
	text-wrap: true;
}

/* used the image tag to reference the one image in the resume 
 * not using the image id because if I add another image later then I'd want it formatted the same way 
*/
img {
	width: 10%;
	height: 1.5%;
	padding-left: 5%;
}









 